body{
  padding: 30px;
}

.flex{
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex div{
  width: 200px;
  border: 1px solid gray;
  padding: 20px;
  margin: 10px 0;
}
.crud{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}